/* Tags */
a {
    text-decoration: none;
    font-family: 'Amazon Ember', Arial, sans-serif;
    color: #007185;
}
p {
    margin: 0.75rem 0;
}
hr {
    background-color: transparent;
    display: block;
    height: 1px;
    border-width: 0;
    border-top: 1px solid #e7e7e7;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 14px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table {
    margin-bottom: 18px;
    border-collapse: collapse;
    width: 100%;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

/* spacing */

.a-icon {
    display: inline-block;
    vertical-align: top;
}

.a-icon.a-star-4-5 {
    background-position: -84px -28px;
}

.a-icon-star {
    height: 18px;
    width: 80px;
    position: relative;
    vertical-align: text-top;
}

.a-icon-popover {
    margin: 5px 0 0 0.385em;
    vertical-align: text-top;
    width: 7px;
    height: 5px;
    background-position: -90px -5px;
    opacity: 0.6;
}

.a--base {
    color: #007185;
    cursor: pointer;
}

.a-size-base {
    font-size: 14px;
    line-height: 20px;
}

.a-spacing-micro {
    margin-bottom: 4px;
}

.a-spacing-small {
    margin-bottom: 8px;
}

td.table--label,
th.table--label {
    width: 26.18%;
    float: none;
}

td.table--text,
th.table--text {
    width: 78.68%;
    float: none;
}

.a-text-bold {
    font-weight: 700;
}

.a-unordered-list {
    display: block;
    margin: 0 0 0 18px;
    color: #0f1111;
}

.a-unordered-list li,
ol li,
ul li {
    word-wrap: break-word;
    margin: 0;
}

.a-unordered-list li::marker {
    font-variant-numeric: tabular-nums;
    font-size: 1.3em;
}

.a-size--small {
    font-size: 12px;
    line-height: 1.5;
}

.a-declarative {
    margin: 1px 1px 0 3px;
}

.a-icon {
    background-image: url(https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png);
    background-size: 400px 900px;
    background-repeat: no-repeat;
}

.a-icon-popover {
    margin: 5px 0 0 0.385em;
    vertical-align: text-top;
    width: 7px;
    height: 5px;
    background-position: -90px -5px;
    opacity: 0.6;
}

.a-label {
    font-weight: 400;
}

.a-button-inner {
    display: block;
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
}

.a-button-text {
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    color: #0f1111;
}

.a-icon-previous {
    margin: 5px 6px 5px 5px;
    width: 11px;
    height: 15px;
    background-position: -123px -7px;
}

.a-icon-next {
    margin: 5px 5px 5px 6px;
    width: 11px;
    height: 15px;
    background-position: -105px -7px;
}

.a-button-inner {
    position: relative;
    /* top: 114px; */
    padding: 6px;
    height: auto;
    border-radius: 7px;
    background: white;
    border: 1px solid #e7e7e7;
    cursor: pointer;
}

.sp_truncated_badge {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Amazon Ember', Arial, sans-serif;
}

.sp_truncated_badge_border {
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
}

.sp_detail_sponsored_label {
    color: #555555;
    font-size: 11px;
}

.sp_detail_info_icon {
    width: 11px;
    vertical-align: text-bottom;
    fill: #969696;
}

.sp_detail_sponsored_label:hover {
    color: #111111;
}

.sp_detail_sponsored_label:hover .sp_detail_info_icon {
    fill: #555555;
}

.best_seller_badge {
    margin-right: 4px;
    background-color: #c45500 !important;
    line-height: 12px;
    font-weight: 700;
    padding-bottom: 2px;
    padding-top: 2px;
}

.best_seller_badge:before {
    border-bottom-color: #c45500 !important;
}

.best_seller_badge:after {
    border-top-color: #c45500 !important;
}

.a-dynamic-image {
    height: 160px;
    width: 160px;
}

.a-icon-prime-span {
    position: relative;
    top: 2px;
}

.a-color-price {
    color: #b12704;
}

.a-size-medium {
    text-rendering: optimizeLegibility;
}

.a-size-medium {
    font-size: 18px;
    line-height: 24px;
}

.a-icon-prime {
    background-image: url(https://m.media-amazon.com/images/S/sash/E6vgqiIirWgGb3f.png);
    background-size: 512px 256px;
    background-repeat: no-repeat;

    width: 53px;
    height: 15px;
    background-position: -185px -182px;
    vertical-align: baseline;
}
